PORT=Digite a Porta Da Aplicação
DB_HOST=Digite o Host Do Banco De Dados
DB_USER=Digite o Usuário Do Banco De Dados
DB_PORT=Digite a Porta Do Banco De Dados
DB_PASS=Digite a Senha Do Banco De Dados
DB_NAME=Digite o Nome Do Banco De Dados